body {
	background: linear-gradient(to left, lightblue, lightgreen);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Arial";
}

#container {
	background-color: rgb(247, 247, 247);
}

#header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 339px;
	margin: 0 auto;
}

#logo-container {
	display: flex;
	flex-direction: column;
}

#logo-top-container {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
	height: 300px;
	width: 540px;
}

#logo-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 104px;
	width: 540px;
}

#logo-first-top,
#logo-second-top,
#logo-second-top,
#logo-third-top,
#logo-fifth-top,
#logo-sixth-top {
	height: 300px;
	width: 138px;
	clip-path: polygon(13% 0%, 81% 0%, 69% 94%, 31% 94%);
}

#logo-first-bottom,
#logo-second-bottom,
#logo-second-bottom,
#logo-third-bottom,
#logo-fifth-bottom,
#logo-sixth-bottom {
	height: 104px;
	width: 245px;
	clip-path: circle(49.4% at 50% 50%);
}

#logo-first-bottom,
#logo-first-top {
	background-color: rgb(59, 99, 65);
}

#logo-second-bottom,
#logo-second-top {
	background-color: rgb(155, 194, 93);
}

#logo-third-bottom,
#logo-third-top {
	background-color: rgb(233, 185, 89);
}

#logo-forth-bottom,
#logo-forth-top {
	background-color: rgb(206, 112, 78);
}

#logo-fifth-bottom,
#logo-fifth-top {
	background-color: rgb(94, 164, 217);
}

#logo-sixth-bottom,
#logo-sixth-top {
	background-color: rgb(128, 66, 130);
}

#logo-seventh-bottom {
	background-color: rgb(194, 60, 128);
}

#logo-second-top {
	margin-top: 50px;
	height: 244px;
}

#logo-third-top {
	margin-top: 75px;
	height: 216px;
}

#logo-fifth-top {
	margin-top: 125px;
	height: 162px;
}

#logo-sixth-top {
	margin-top: 150px;
	height: 141px;
}

header,
.name {
	font-weight: bold;
}

.disclosure-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	margin-left: 6px;
}

#grid-container,
.images {
	padding: 0 5px;
	margin: 0 auto;
}

.disclosure,
.branding-container {
	font-size: 11px;
}

.tile-container {
	align-self: center;
	max-width: 358px;
	margin: 0 auto;
}

.images {
	max-width: 339px;
	object-fit: contain;
}

.name {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
}

.category {
	padding-left: 4px;
}

.name,
.category,
.branding {
	margin: 5px 0;
	text-decoration: none;
	color: inherit;
}

.branding-container {
	display: flex;
	color: #00000087;
	margin-bottom: 30px;
}

.branding {
	margin-left: 6px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		height: 100vh;
	}

	#header-container {
		max-width: 700px;
		margin: 0 0 0 30px;
	}

	#grid-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 750px;
	}

	.tile-container {
		margin: 0 6px;
	}

	.tile-container,
	.images {
		max-width: 228px;
	}
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	#header-container {
		max-width: 955px;
	}

	.tile-container,
	.images {
		max-width: 310px;
	}

	#grid-container {
		max-width: 1008px;
	}

	.header,
	.name {
		font-size: 18px;
	}

	.category,
	.branding,
	.disclosure {
		font-size: 14px;
	}
}
@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
	#container {
		max-width: 900px;
		margin: 0 auto;
	}

	#header-container {
		max-width: 745px;
		margin: 0 auto;
	}

	#grid-container {
		max-width: 790px;
		margin: 0 auto;
	}

	.tile-container {
		margin: 0 14px;
	}

	.tile-container,
	.images {
		max-width: 230px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
	#container,
	#grid-container {
		max-width: 339px;
	}

	.tile-container,
	.images,
	#header-container {
		max-width: 260px;
	}

	#header-container {
		margin: 0 auto;
	}
}
