#header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 85vw;
	margin: 0 auto;
}

.header {
	font-family: "Bitter", serif;
	font-size: 12px;
	margin: 100px 5px 0 0;
	height: 63px;
	color: rgb(50, 68, 112);
}

span {
	color: rgb(168, 190, 210);
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	#header-container {
		max-width: 700px;
		margin: 0 0 0 30px;
	}

	.header {
		font-size: 18px;
		margin: 155px 0 0 0;
	}
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	#header-container {
		max-width: 955px;
	}
}

@media only screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
	#header-container {
		max-width: 745px;
		margin: 0 auto;
	}

	.header {
		font-size: 18px;
		margin-top: 155px;
		height: 63px;
	}

	#logo-top-container {
		margin-top: 25px;
		height: 300px;
		width: 780px;
	}

	#logo-bottom-container {
		height: 104px;
		width: 790px;
	}

	.rotate {
		height: 100px;
		width: 100px;
	}

	#text-container {
		height: 100px;
		width: 90vw;
		margin: 148px 0 0 35px;
		height: 300px;
		width: 677px;
	}

	.logo-top {
		height: 300px;
		width: 138px;
		clip-path: polygon(2% 0%, 98% 0%, 73% 94%, 26% 94%);
	}

	.logo-bottom {
		height: 104px;
		width: 245px;
		clip-path: circle(44.4% at 50% 50%);
	}

	#logo-second-top {
		margin-top: 50px;
		height: 244px;
	}

	#logo-third-top {
		margin-top: 89px;
		height: 200px;
	}

	#logo-forth-top {
		margin-top: 126px;
		height: 161px;
	}

	#logo-fifth-top {
		margin-top: 155px;
		height: 130px;
	}

	#logo-sixth-top {
		margin-top: 176px;
		height: 107px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
	#header-container {
		margin: 0 auto;
		max-width: 309px;
	}

	.header {
		margin: 25px 35px 0 0;
	}

	#text-container {
		max-width: 233px;
	}

	#logo-bottom-container {
		max-width: 275px;
	}
}
